<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vimux" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/vimux_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/vimux_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vimux"
        tools:replace="android:icon,android:theme" >
        <activity
            android:name=".aboutUs"
            android:exported="false" />
        <activity
            android:name=".contactUs"
            android:exported="false" />
        <activity
            android:name=".commentsPage"
            android:exported="false" />
        <activity
            android:name=".audioPage"
            android:exported="false" />
        <activity
            android:name=".feedBack"
            android:exported="false" />
        <activity
            android:name=".videoExo"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".subscription_success"
            android:exported="false" />
        <activity
            android:name=".audioPage_jc"
            android:exported="false" />
        <activity
            android:name=".newPassSet"
            android:exported="false" />
        <activity
            android:name=".audioPage_old"
            android:exported="false" />
        <activity
            android:name=".forgot_password"
            android:exported="false" />
        <activity
            android:name=".reset_password"
            android:exported="false" />
        <activity
            android:name=".profileEdit"
            android:exported="false" />
        <activity
            android:name=".audioUpload"
            android:exported="false" />
        <activity
            android:name=".videoPage"
            android:exported="false" />
        <activity
            android:name=".editChannel"
            android:exported="false" />
        <activity
            android:name=".channel_page"
            android:exported="false" />
        <activity
            android:name=".allChannels"
            android:exported="false" />
        <activity
            android:name=".all_videos"
            android:exported="false" />
        <activity
            android:name=".all_audios"
            android:exported="false" />
        <activity
            android:name=".videoUpload"
            android:exported="false" />
        <activity
            android:name=".channelDash"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".navigation"
            android:exported="false"
            android:label="@string/title_activity_navigation" />
        <activity
            android:name=".profileView"
            android:exported="false" />
        <activity
            android:name=".subscription"
            android:exported="false" />
        <activity
            android:name=".videoPlayer"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".startActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>